<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.song.mapper.UserMapper">
	<!-- 通过ID查询一个用户 -->
	<select id="findUserById" parameterType="Integer" resultType="User">
		select * from user_login where id = #{v}
	</select>

    <select id="findAllUser" parameterType="com.song.pojo.User" resultType="User">
		select * from user_login
	</select>

    <!-- 查询所有用户 -->
	<select id="findUserByUser" resultType="User">
		select * from user_login as u
		<where>
            <if test="id != null and id !='' ">
             u.id = #{id}
            </if>
            <if test="username != null and username !='' ">
                and  u.username = #{username}
            </if>
            <if test="password != null and password !='' ">
                and  u.password = #{password}
            </if>
            <if test="sex != null and sex !='' ">
                and  u.sex = #{sex}
            </if>
            <if test="address != null and address !=''">
                and u.address = #{address}
            </if>
            <if test="date != null and date !=''">
                and u.date = #{date}
            </if>
        </where>
	</select>

    <insert id="insertUser"  parameterType="com.song.pojo.User" >
        insert into user_login(username,sex)
        values(#{sex},#{username})
    </insert>

</mapper>
